/server/bin
/server/obj
/server/*.suo
/email/email/bin
/email/email/obj
/email/*.suo
/client/bin
/client/obj
/client/*.suo
/client/*.user
/ClientServer/ClientServer/bin
/ClientServer/ClientServer/obj
/ClientServer/*.suo
/public-ip/public-ip/obj
/public-ip/public-ip/bin
/public-ip/.vs/public-ip/v14/.suo
